[2017-04-09 19:20] jdenen opened #1 "Scope issue on new toot"
`mastodon-toot` returns a `403 Forbidden` error response. The error message mentions a scope issue:

[code]

Since mastodon.el registers with `"read write follow"` scopes, this doesn't make much sense.

I can use the same token from `mastodon--api-token-string` to GET posts.

[code]

This returns a `200` and the toot data.

[2017-04-09 19:32] jdenen opened #2 "Dev environment"
I need a clean working Emacs state. Since I use Spacemacs, I risk some contamination from other packages. A Docker image with a clean Emacs is probably the easiest solution.

[2017-04-09 19:33] fapdash commented on #1
Can confirm, same issue.
[code]

[2017-04-09 19:34] jdenen opened #3 "Integration environment"
Right now, I'm developing/testing against the flagship API. It would probably be better to use a locally running Mastodon instance. Add a docker-compose file that spins up an instance. Integrates with the dev environment from #2 too?

[2017-04-09 19:35] jdenen opened #4 "Add to MELPA"
- [x] Submit PR to MEPLA
- [x] Wait for PR to be merged
-  [x] Update README

[2017-04-09 19:36] jdenen opened #5 "Test all the things!"
Testing is good. I should add tests.

[2017-04-09 19:37] jdenen opened #6 "Travis"
Continuous integration is good too. Once I've got some tests to run ( #5 ), I should setup CI with Travis.

[2017-04-09 19:53] jdenen commented on #1
I have the same problem using `cURL`. Looks like it's time for an issue on Mastodon itself.

[code]

[2017-04-09 20:10] jdenen commented on #1
Tracking issue [1367](https://github.com/tootsuite/mastodon/issues/1367) now.

[2017-04-09 23:25] #1 closed, assigned to nobody

[2017-04-09 23:51] jdenen opened #7 "Add repo URL to client registration"

[2017-04-09 23:53] jdenen opened #8 "Follow elisp documentation conventions"
Basically, just turn on flycheck.

[2017-04-10 03:20] #8 closed, assigned to nobody

[2017-04-10 03:33] #7 closed, assigned to nobody

[2017-04-11 02:16] jdenen opened #9 "mastodon-auth.el functions should start with group prefix"
`mastodon--register-client-app` should be `mastodon-auth--register-client-app` for example.

[2017-04-11 02:17] jdenen opened #10 "mastodon-http.el functions should start with group prefix"
`mastodon--http-post` should be `mastodon-http--post` for example.

[2017-04-11 14:31] jdenen opened #11 "Better success callback"
Right now, the success callback on a new toot opens the response buffer from `url-retrieve`. It should just message a success, perhaps with the toot `id`.

- [x] new toot
- [x] reply
- [x] boost
- [x] favourite

[2017-04-12 00:18] bortzmeyer opened #12 "IWBN to have Oauth"
This would allow to get a permanent authorization, avoiding to type the password each time you run Emacs. The Twitter twittering-mode does it.

[2017-04-12 00:22] bortzmeyer opened #13 "IWBN to have a roadmap"
For instance, is there a plan to add the ability to display toots, not just create them?

[2017-04-12 00:47] jdenen commented on #13
Read is definitely coming. But you're right, there should be a roadmap.

[2017-04-12 00:51] jdenen commented on #12
I agree that this would be nice to have. I'd like to make it configurable. I personally wouldn't use it because:

1. I rarely restart Emacs
2. I don't like the idea of the token being stored on filesystem (even if encrypted) if not necessary

But making it an option, the default even, seems legit.

[2017-04-12 01:20] jdenen opened #14 "Documentation in mastodon-toot mode buffer"
When you open a toot-mode buffer, there should be read-only documentation:

1. `C-c C-c` sends toot
2. `C-c C-k` cancels toot

[2017-04-12 01:22] jdenen opened #15 "Character counter in toot-mode buffer"
Buffers for `toot-mode` should count down characters from 500 as they are entered.

It would be nice if the countdown lived alongside the documentation from #14.

[2017-04-12 01:31] jdenen opened #16 "Mastodon major mode"
This is more an epic level issue that should be broken down. The major mode should provide:

* Read access to timelines:
  - [x] Home
  - [x] Local
  - [x] Federated
  - [x] Tags
  - [x] Update to latest toots
* Interactions with toots:
  - [x] Boost
  - [x] Favourite
  - [x] Reply
  - [x] See thread
* Keybindings
  - [x] Switch between timelines
  - [x] Move to next/previous toot
  - [x] Boost, F

[2017-04-12 01:34] jdenen opened #17 "CW toot modifier"
We should be able to do the following from a `mastodon-toot` mode buffer:

- [x] Add a content warning
- [x] Add CW spoiler text

[2017-04-12 01:36] jdenen opened #18 "Send media from mastodon-toot buffer"
Attach `media_ids` to a toot send from the minor mode. Limit to four.

[2017-04-12 01:41] jdenen opened #19 "Change README.md to README.org"
What kind of self-respecting Emacs user...

[2017-04-12 01:52] #13 closed, assigned to nobody

[2017-04-12 02:11] jdenen opened #20 "Show profile in major mode"
I want to be able to visit a user profile like a timeline in the major mode.

[2017-04-12 02:14] jdenen opened #21 "Interact with user profiles"
- [ ] Follow/unfollow
- [ ] Block/unblock
- [ ] Mute/unmute

[2017-04-12 02:15] jdenen opened #22 "Add hashtag timelines to major mode"
Prompt for a hashtag and open a timeline.

[2017-04-12 22:48] #19 closed, assigned to nobody

[2017-04-13 00:46] jdenen opened #25 "Version function can't find version file"
https://mastodon.social/web/statuses/2315937

[2017-04-14 19:35] jdenen opened #27 "Refactor to use synchronous calls in mastodon-http"
The asynch default of `url-retrieve` makes things too complicated, especially the HTTP actions taken in `mastodon-auth`. Look at `mastodon-http--get` for an example of how much `url-retreive-synchronously` makes life easier.

[2017-04-14 21:56] fapdash opened #29 "Provide context menu for discover mode"
It would be nice to have an overview of the possible keybinds+commands through a magit-like popup.

Possible options are:
* https://github.com/steckerhalter/discover-my-major
* https://github.com/mickeynp/discover.el

I'll provide a PR for both.

[2017-04-14 22:13] jdenen commented on #29
Good idea. I'll take a look at the PR tonight.

[2017-04-15 21:57] ksonney commented on #12
FYI - you need OAUTH to support 2 Factor Auth, which I am about to open a bug on. :)

[2017-04-15 22:03] ksonney opened #31 "If 2FA is enabled, mastodon.el goes into an infinite auth loop"
When a user has 2 Factor Auth enabled, mastodon.el is unable to authenticate and will prompt for the username and password until the user either (a) disables their 2 Factor Auth, or (b) exits emacs.

Mastodon.el should do one of the following if 2FA is turned on:
- Use OAuth to get a token
- Prompt for the 2FA auth code and submit it for the user
- Cleanly exit/error out so that the user can turn

[2017-04-15 22:13] jdenen commented on #31
Thanks for the heads up. I wanted to get through authentication as quick as possible so I could get people tooting from Emacs.

I want to implement the clean exit option to fix this issue. Then I can come back a fully support 2FA post 1.0.0.

I do consider this a blocking bug in the meantime.

[2017-04-15 23:17] bortzmeyer opened #32 "Does not work with non-ASCII characters"
In mastodon-mode, non-ASCII characters in usernames or in toots are displayed by escape sequences of the UTF-8 (\303\251 instead of é).

mastodon.el just git pulled

GNU Emacs 24.5.1 (x86_64-pc-linux-gnu, GTK+ Version 3.18.9) of 2016-04-17 on lgw01-04, modified by Debian (can display Unicode just fine)

[2017-04-16 01:15] #29 closed, assigned to nobody

[2017-04-16 01:34] jdenen commented on #22
Added in #28

[2017-04-16 01:34] #22 closed, assigned to nobody

[2017-04-17 01:44] jdenen opened #36 "Cannot see boosted toots"
They appear empty. Pls fix.

[2017-04-17 01:45] jdenen opened #37 "Notifications timeline"
Add a notifications timeline and bind it to `N`.

[2017-04-17 01:46] jdenen commented on #16
Removed Notifications task and spun it off to #37.

[2017-04-17 05:59] bortzmeyer opened #38 "Default "colors" are bot really usable"
The default color for toots is a very pale grey, almost unreadable. The blue for the user names is not much better.

I suggest to change the default and (probably more important) to document how the user could change it (my own preference would be to use the default font/color for everything).

[2017-04-17 06:01] bortzmeyer commented on #38
"Not", not "bot" :-(

[2017-04-17 11:24] jdenen commented on #38
Yeah, I've been developing this against a dark theme and that has definitely influenced its look. I need to hook into the user's theme. Thanks for bringing this to my attention!

[2017-04-17 17:01] #36 closed, assigned to nobody

[2017-04-17 17:01] #38 closed, assigned to nobody

[2017-04-17 17:02] jdenen commented on #38
I closed this with a commit. The faces I use should now align with your Emacs theme.

Feel free to reopen if the colors still seem unusable. Documentation about customizing the package will come later.

[2017-04-17 17:20] jdenen opened #40 "Evil support"
Many of my keybindings are Vim inspired. This proposes a problem for `evil` users in normal mode. Look into what it would take to support `evil` users out of the box.

[2017-04-17 17:25] saper commented on #40
On GNU Emacs 25.1:

[code]

[2017-04-17 18:00] jdenen opened #41 "Display media in timelines"
They just display as links right now.

[2017-04-17 18:01] jdenen opened #42 "Show mentions in timelines correctly"
Timeline mentions are displayed as full URLs:

`@johnson` --> `https://mastodon.social/@johnson`

It should be `@johnson`.

[2017-04-18 00:35] taingra opened #43 "Missing a license file"
The headings in mastodon.el state it's licensed under the GPLv3 but this repository doesn't have a copy of it

[2017-04-18 01:22] #43 closed, assigned to nobody

[2017-04-18 01:22] jdenen commented on #43
Thanks @taingra

[2017-04-18 20:43] saper commented on #11
In case of `mastodon-toot--favourite` the `Contacting host: mastodon.social:443` message stays there until the key is pressed (the timeline gets updated with `F`)

Initially I though it hangs in there. At least HTTP response would be clearly a confirmation things worked.

[2017-04-18 22:36] jdenen opened #48 "New line issues"
New lines are not properly respected.

[2017-04-19 06:38] tbje commented on #32
I have the same problem. The buffer is UTF-8 (there is a U on the mode-line that gives the information) so I assume it's something going wrong earlier in the process?

[2017-04-19 13:28] jdenen commented on #11
@saper Boost/Favourite should have better feedback as of `232c621`. They'll message you `Boosted #12345` or `Favourited #12345` where `12345` is the toot id.

This fix will be included in the v0.4.1 release later this evening.

[2017-04-19 13:38] #25 closed, assigned to nobody

[2017-04-19 19:08] saper commented on #11
@jdenden can you keep the HTTP response somewhere as the debug mode for folk learning the protocol? can be useful sometimes maybe?

[2017-04-20 03:15] jdenen commented on #48
Fixed in v0.4.1

[2017-04-20 03:15] #48 closed, assigned to nobody

[2017-04-20 03:15] jdenen commented on #42
Fixed in v0.4.1

[2017-04-20 03:15] #42 closed, assigned to nobody

[2017-04-20 16:37] jdenen opened #50 "Add debug mode for callbacks"
For debugging purposes, open the HTTP response buffer on API calls if `mastodon-debug` is non-nil.

[2017-04-20 16:38] jdenen commented on #11
@saper I opened #50 for your enhancement request. Seems like a reasonable idea.

[2017-04-22 03:00] jdenen commented on #2
Close with https://github.com/jdenen/dockemacs

[2017-04-22 03:00] #2 closed, assigned to nobody

[2017-04-22 03:52] jdenen opened #52 "Request more toots"
When I use the `mastodon-tl--goto-next-toot` function from the last toot in my buffer, it should request toots older than toot at `point` and append the response data to the buffer.

[2017-04-22 03:54] jdenen commented on #16
Spun the pagination task off into #52. This card is done.

[2017-04-22 03:54] #16 closed, assigned to nobody

[2017-04-22 18:11] alexjgriffith commented on #32
I am not sure if this issue has been fixed yet.

The strings are parsed and encoded as utf-8. To represent the string visually in emacs, you can use `decode-coding-string` or `decode-coding-region`.

Most standard symbols are already included in emacs:
[code]
If you have emojify installed it will also work with emojis:
[code]

[2017-04-22 18:46] jdenen commented on #32
It has not been fixed yet and if this solves the problem, I will find a way to buy you a beer. This particular issue has been a giant PITA.

[2017-04-22 18:51] alexjgriffith commented on #32
I've implemented a fix in my version. Will push once i've cleaned it up a bit
![screenshot 2017-04-22 14 49 58](https://cloud.githubusercontent.com/assets/6475397/25307221/13c09f66-276b-11e7-9a40-f7b445d9b4f6.png)

[2017-04-22 18:51] jdenen commented on #32
Beautiful.

[2017-04-22 20:01] hdurer opened #54 "Mention prerequisites in the `Installation` section"
`mastodon-auth.el` requires [plstore](https://github.com/emacs-mirror/emacs/blob/master/lisp/plstore.el) which should be mentioned in the `README` file

[2017-04-22 20:32] jdenen commented on #32
Fixed by #53

[2017-04-22 20:32] #32 closed, assigned to nobody

[2017-04-22 20:54] saper opened #55 "`Replaced 0 occurrences` from `mastodon-tl--update` and the favourited toot is not marked with `(F)`"
How to reproduce:

1. open a timeline in Emacs
1. pick some existing toot from the timeline
1. open mastodon in the web browser
1. use the web interface to favourite the toot picked
1. update Emacs timeline

Expected:
1. `(F)` marker on a toot

Actual:
1. `Replaced 0 occurrences` message
1. Nothing changes

After this when favourite the toot from the emacs buffer I get:

`Favourited #3825346`

and

[2017-04-22 20:55] jdenen opened #56 "Detect and invoke emojify"
With `discover`, we auto-detect it in the user's Emacs environment and use it if it's there. This keeps the user from having to write their own hook. I'd like to do the same with `emojify` now that the UTF-8 encoding issue is fixed.

[2017-04-22 20:56] saper commented on #55
The marker does not appear even there are some actual updates (`Replaced 3 occurences`).

Getting the home timeline again updates the marker.

[2017-04-22 21:03] saper commented on #55
Might be a backend issue - toots favourited from emacs do not appear as such on the web timeline quickly

[2017-04-22 21:17] jdenen commented on #55
Ah, so I think I got it. There's a couple of things here:

1. You have a timeline open in Emacs. You favourite a toot on the web. You hit `u` on the timeline and expect the `(F)` to appear. I misunderstood our conversation on Mastodon. This is an enhancement of the `u` functionality. As it's implemented now, `u` should only be used to grab new toots on the timeline. Issue #55 will now represent th

[2017-04-22 21:24] jdenen opened #57 "Success callback triggered before failure buffer pops"
1. Favourite a toot
2. Favourite again

You'll get the successful feedback:

`Favourited #12345`

And then a buffer:

[code]

[2017-04-22 21:25] jdenen commented on #57
Spun off of #55

[2017-04-22 21:27] jdenen opened #58 "Handle 422 response"
You can't favourite an already favourited toot. You get a `422` response. We should handle this gracefully instead of popping the failed response buffer. Options:

1. Message feedback that says something like `Already favourited #12345`
2. Make favourite function a toggle between favourite/unfavourite

Fix should be applied to the boost function too.

[2017-04-22 21:27] jdenen commented on #58
Spun off of #55

[2017-04-23 12:02] bortzmeyer commented on #32
Works beautifully, many thanks.

[2017-04-23 12:25] bortzmeyer opened #59 "IWBN to have automatic refresh"
Apparently, mastodon.el does not automatically refrshes the open timeline: I need to call mastodon-tl--update (which has no key binding by default). Why not a periodic automatic resfresh, with a period configured by a variable?

[2017-04-23 13:12] jdenen commented on #59
Update is bound to `u` by default. This is a good idea but should be configurable.

Maybe turned off by default.

[2017-04-23 15:09] #6 closed, assigned to nobody

[2017-04-23 15:09] #9 closed, assigned to jdenen

[2017-04-23 15:09] #10 closed, assigned to jdenen

[2017-04-23 15:09] #27 closed, assigned to jdenen

[2017-04-23 15:09] #31 closed, assigned to jdenen

[2017-04-23 16:39] #56 closed, assigned to jdenen

[2017-04-23 16:59] jdenen opened #61 "Use unwind-protect?"
Look into the `unwind-protect` function for cleaning up buffers on TL switches, new toots, replies, etc.

[2017-04-23 17:04] jdenen opened #62 "Multi user support"
It would be nice.

[2017-04-23 18:04] #52 closed, assigned to jdenen

[2017-04-24 03:37] jdenen commented on #4
PR to MELPA was submitted

https://github.com/melpa/melpa/pull/4724

[2017-04-24 04:27] alexjgriffith opened #65 "mastodon-tl--more jumps to final toot"
When requesting more toots `mastodon-tl--more` results in the point being set to the end of the buffer rather than at the first new toot.

[2017-04-24 05:50] alexjgriffith commented on #41
I have fixed the image in-lining for the most part. Once the final string is prepped in `mastodon-tl--timeline` each `Media_Link:: .*` is replaced with its respective image.

![screenshot 2017-04-24 01 42 01](https://cloud.githubusercontent.com/assets/6475397/25323720/5c4f2de0-288f-11e7-956f-6a120d63c0f8.png)

[2017-04-24 10:20] rafoo opened #68 "JSON readtable error"
Hello,

I have configured mastodon.el as follows:

[code]

When I then try to `M-x mastodon`, I am asked for my e-mail and password and then get the following error:

[code]

My Emacs version is `GNU Emacs 24.4.1 (x86_64-pc-linux-gnu, GTK+ Version 3.14.5) of 2015-03-07 on trouble, modified by Debian`.

Thank you for making this Mastodon Emacs client, I hope that I will soon be able to test it!

[2017-04-24 10:39] jdenen commented on #68
`M-x mastodon-register-client` is a relic from the time before there was a major mode. I need to remove it and all references to it in the documentation. I will spin off an issue for that.

I've seen the `JSON readtable error` before, and every time it was caused by flakiness on the instance's part. When the server throws a 500, the API is returning the "fluffy friend" HTML page instead of JSON. C

[2017-04-24 10:40] jdenen opened #69 "Remove mastodon-register-client function"
This was useful before the major mode existed. Now, it is out of date and will throw an error when used.

- [ ] Remove function
- [x] Remove references to the function from the README

[2017-04-24 10:41] jdenen commented on #68
Spun #69 off of this ticket.

[2017-04-24 10:44] jdenen commented on #68
Moving the bit about `mastodon-register-client` to #69

[2017-04-24 10:44] jdenen commented on #69
Originally in #68, thanks @rafoo

[2017-04-24 11:08] jdenen commented on #68
Example response buffer:

[code]

[2017-04-24 11:11] jdenen opened #70 "Favourite/Boost moves point back one toot"
If I Favourite/Boost the third toot on a timeline, my cursor will be moved to the second toot on the timeline. It should stay on the third.

[2017-04-24 13:29] jdenen opened #71 "Better Travis feedback"
- [x] Run tests
- [ ] Byte compile
- [ ] package-lint

[2017-04-24 13:38] rafoo commented on #68
Thank you for the fast reply!

I have the following error: `url-http-parse-headers: Wrong type argument: char-or-string-p, nil`, the web client works fine.

Sorry I don't get from where I am supposed to get this, what is the response buffer?

[2017-04-24 15:32] jdenen commented on #68
The example response buffer was just reference for me when I (or someone else) works on this issue.

[2017-04-24 16:44] #65 closed, assigned to nobody

[2017-04-24 18:24] alexjgriffith commented on #37
Working on the rendering of four types of notifications
1. mention
2. follow
3. favourite
4. reblog (boost)

Mention, favourite, and boost are very similar to standard toots. Follows will have a tag line (which could be customizable) and will insert the image of the new follower before the end of the notification.
## Mention
[code]

## Follow
[code]
## Favourite
[code]

## Booseted
[code]

The fun

[2017-04-24 23:35] alexjgriffith opened #74 "Auto fill Tag search with the string bellow point"
Add `word-at-point` to the `mastodon-tl--get-tag-timeline` function. This will set the word under point as default in case no tag is entered interactively.

[code]

[2017-04-25 01:59] jdenen commented on #4
PR was merged and the build has begun. Should take another 3 hours or so.

[2017-04-25 02:07] jdenen opened #76 "Feedback from MELPA"
See https://github.com/melpa/melpa/pull/4724#issuecomment-296845105

[2017-04-25 03:19] #41 closed, assigned to nobody

[2017-04-25 03:42] #69 closed, assigned to nobody

[2017-04-25 03:49] jdenen commented on #17
Spinning public, private, etc modifier off into its own issue

[2017-04-25 03:52] jdenen opened #78 "Visibility toot modifier"
- [ ] public
- [ ] private
- [ ] direct
- [ ] unlisted
- [ ] keybinding to toggle between options
- [ ] display which toggle is enabled

[2017-04-25 03:52] jdenen commented on #17
Spun #78 off

[2017-04-25 04:15] alexjgriffith opened #79 "Image impacts `mastodon-tl--goto-next-toot`"
If you favorite a post while on the by-line with an image, it will send the favorite properly to the server but place a (F) on the following toot. If you favorite the post above the image the (F) will appear beside the image rather than in front of the by-line.

This effect is still there even when only `Media_Link:: /files/small/missing.png` is present.

[2017-04-25 04:42] #4 closed, assigned to jdenen

[2017-04-25 04:54] #17 closed, assigned to jdenen

[2017-04-25 05:28] alexjgriffith commented on #20
I have an initial version of user profile streams working.

The function `mastodon-user--get-next-author` opens a new buffer named `*mastodon-$user*`. Once the buffer is generated it inserts the users static image directly along with their note (description).

## Layout
[code]

## Limitations
Currently it works as well as the notifications screen. I.e. it has full functionality apart from loading

[2017-04-25 13:35] jdenen opened #83 "Fold content below CW"
Hide everything but spoiler text in a toot with a content warning.

[2017-04-25 21:27] alexjgriffith opened #84 "Suggestion for get-more generalization"
## Suggestion
Could we generalize some functions in mastodon-tl.el including `mastodon-tl--more-json` and ` mastodon-tl--goto-next-toot`? Currently they only work with `/timeline` endpoints, however `/notifications` and `/accounts` can be processed to appear functionally equivalent. Keeping the buffers functionally equivalent can help make the interaction with each type of buffer consistent.

## G

[2017-04-26 01:05] jdenen commented on #84
I'm working on a reply, but in the meantime, can you provide me a general example of how local buffer variable functions would work? I don't think I'm familiar with the idea.

[2017-04-26 01:50] alexjgriffith commented on #84
A sort of trivial setup

Set up a function you want to run in buffer a and buffer b. Naming them accordingly is helpful but not necessary
[code]

The following block makes two temp buffer names a-buffer$temp and b-buffer$temp. It switches to buffer a (initializes the buffer) and then sets the local variable `temp-function` and sets its value to `buffer-a--function`. It evaluates the result and the

[2017-04-26 02:54] jdenen commented on #84
Yeah, I'd prefer to go the readability route. That seems clever but it is hard to understand.

When I started down this road, I envisioned a minor-mode per timeline, with `mastodon-tl.el` being a library of macros to define the minor modes. Then a `mastodon-timelines.el` file with definitions for home/local/public/tags since they all behave basically the same.

Notifications and profiles would get

[2017-04-26 04:02] alexjgriffith commented on #84
That seams far more maintainable!

I can see how it nicely sets up sepereate movement functions for each buffer type.

Just to clarify, currently the `tl-get`set of functions are bound to keys in the major-mode. You planing on having one minor mode for each type of buffer and binding type     specific`tl-get`functions to each? For example, `notifications-get-next` in a notifications buffer, `local

[2017-04-26 04:06] alexjgriffith commented on #84
Is there an idomatic way for the user to set keybindings for a set of minor buffers?

For example, could I change my binding from `j` in all 5+ minor modes to `C-c j`?

[2017-04-26 04:29] jdenen commented on #84
I believe something like this will work:
[code]
It's customization for ALL timeline buffers at once, but I think that's OK.

[2017-04-26 04:42] alexjgriffith commented on #84
That is beautiful.

All the user would have to do to change keybindings would be to add the following to their init buffer.

[code]

Edit: fixed phone typos

[2017-04-26 04:42] jdenen opened #86 "Should there be a develop branch?"
Some context:

1. `MELPA` builds master `HEAD`.
2. `MELPA-stable` builds the latest tag refspec.
3. A vast majority of users pull from `MELPA` not `MELPA-stable`.

Using master as a working branch seems like a risk now. For example, I'd like to merge #73, tinker and tweak it. But that seems unwise given the MELPA/stable dynamic.

We could alleviate the risk by moving work to a develop branch and f

[2017-04-26 04:48] jdenen commented on #84
Users shouldn't have to use the `setup-kbds` macro. We'd call that in one of the mastodon features. Users just have to tweak the `-next-key` variable in their `.emacs` or use `customize` interactively.

But it's late and I may be misunderstanding what you mean by "their unit buffer."

[2017-04-26 04:50] jdenen commented on #84
Ah, init buffer makes much more sense 😆

Yeah, I don't think they'd need to call the macro, but I'd have to prove that out before I was certain.

[2017-04-26 04:51] alexjgriffith commented on #84
Yep, the macro will only ever have to be called once! For a moment I forgot that everything in emacs is a global.

[2017-04-26 04:58] alexjgriffith commented on #86
I am pro having a develop branch.

I have never worked with a simplified GitFlow branching strategy but I have read [an example](http://nvie.com/posts/a-successful-git-branching-model/) previously, (conveniently the first hit on google for GitFlow branching strategy), and it seams like a sane approach.

As for tagging the master (i.e., releasing to melpa) as a rule of thumb you could do it when an

[2017-04-26 06:18] alexjgriffith opened #87 "Tools for inspecting / debugging toots"
## Suggestion
Here are some easy to use tools for seeing the properties of a toot. I've been using `mastodon-debug--inspect-toot` for inspecting / debugging toots. It pretty prints the results and dumps them into a new buffer. The focus shifts to the new buffer which is opened in another window.

I am not sure if this functionality has been implemented already, but I have not come across it. I am

[2017-04-26 13:05] yuvallanger opened #88 "GNU plus Social support"
[GNU plus Social] is another implementation of the server ([Git repo]) within the microblogging fediverse. Can this client be used to interact with the GNU plus Social class of servers?

[GNU plus Social]: <https://gnu.io/social/>
[Git repo]: <https://git.gnu.io/explore/projects>

[2017-04-26 13:56] jdenen commented on #87
Here's fine.

I'd go ahead and submit a PR for them. I think it's fine to have developer functions in the project as long as they're not publicly facing. Meaning, let's not add them to the keymap or document them anywhere.

[2017-04-26 15:38] jdenen commented on #88
I'm not sure. It's worth looking into though.

[2017-04-26 16:06] alexjgriffith commented on #88
While the request response content should be consistent between both, I don't believe the API implemented for mastodon is consistent with GNU Social, [see](https://github.com/tootsuite/mastodon/issues/176). A separate API interface would have to be implemented to accommodate this.

[2017-04-26 17:39] clarkenciel opened #89 "M-x mastodon hangs when connecting to cybre.space"
I have the following configuration:
`(setq mastodon-instance-url "https://cybre.space")`

and when I run `mastodon` emacs just hangs for a long time until I quit the process.

[2017-04-26 17:45] alexjgriffith commented on #89
It looks like registration for cybre.space is down for an hour.

Could you try to run `M-x mastodon` again? When I tried to access the site a few minutes ago from the browser it hung, but it seams to be available again.

[2017-04-26 17:49] clarkenciel commented on #89
@alexjgriffith no dice and this has happened every time i've tried running the command. I'm able to log in just fine on the site with my credentials and i'm not using 2fa.

[2017-04-26 17:57] alexjgriffith commented on #89
Just a few questions.
1. Did it ask your user name and password the first time you tried to access this instance?

2. Did you enter your username and password before setting `mastodon-instance-url` to "https://cybre.space"?

If either of these are true your credentials are set to the the previous instance of mastodon, mastodon.social by default.

Try running the following in your *scratch* it will

[2017-04-26 18:41] jdenen commented on #89
You'd need to do a bit more to get back to a clean state than that. The best way to be sure is to delete `mastodon.plstore` from your Emacs config directory and then restart Emacs.

But I don't think the client credentials are the issue here. It sounds like Tusky had a problem with this instance too.

[2017-04-26 20:03] clarkenciel commented on #89
@jdenen removing the `mastodon.plstore` file and rerunning did the trick. I must have accidentally provided my credentials for the default instance as @alexjgriffith describes. Thank you so much for the time and help!

[2017-04-26 20:03] #89 closed, assigned to nobody

[2017-04-26 20:50] clarkenciel opened #90 "User mention auto-suggestion"
It would be nice to get auto-suggestions when mentioning other users in the toot-buffer. Maybe I've missed something, but as far as I can tell users of mastodon.el just have to memorize handles+domains at the moment or open their instance in a browser, which isn't optimal.

This could work like company/ac drop-downs or helm-style buffers.

[2017-04-26 21:29] clarkenciel opened #91 "Support favorites list"
Support actions against the [`GET /api/v1/favourites`](https://github.com/tootsuite/documentation/blob/master/Using-the-API/API.md#favourites) endpoint would be nifty.

[2017-04-26 21:39] jdenen commented on #91
This feels like a pretty easy thing to do. It seems like just another timeline.

Added it to the 1.0.0 milestone.

[2017-04-26 23:34] clacke commented on #88
https://www.emacswiki.org/emacs/identica-mode.el already exists.

[2017-04-27 03:32] emdeesee commented on #68
This problem manifested for me using the following version of emacs:

However running this version, I do not have the problem:

Upgrading emacs, if possible, seems to be a work-around.

[2017-04-27 04:18] clarkenciel opened #93 "View individual toots in thread"
We should be able to view an individual toot from one of the timelines and see it in its threaded context (i.e. with any toots it was replying to and any toots replying to it).

[2017-04-27 04:28] clarkenciel commented on #93
nevermind just found this command.

[2017-04-27 04:28] #93 closed, assigned to nobody

[2017-04-27 14:50] jdenen commented on #88
I'm closing this ticket given the feedback from @alexjgriffith and @clacke

[2017-04-27 14:50] #88 closed, assigned to nobody

[2017-04-27 16:35] jdenen commented on #86
I agree that there should be a develop branch. I'm going to create it today.

[2017-04-27 16:36] #86 closed, assigned to nobody

[2017-04-27 17:38] clarkenciel opened #95 "Support post visibility in toot mode"
There should be bindings in `mastodon-toot-mode` to set the visibility properties of the toot being composed.

[2017-04-27 17:44] alexjgriffith commented on #95
I think this is covered by / dependent on #78.

[2017-04-27 17:46] clarkenciel commented on #95
@alexjgriffith yep

[2017-04-27 17:46] #95 closed, assigned to nobody

[2017-04-27 18:14] clarkenciel commented on #15
some instance have different character counts (cybre.space has 512, witches.town has 666) is there even a way to handle this?

[2017-04-27 18:19] jdenen commented on #15
I didn't know that.

Perhaps the answer then is to count up from 0 and let users decide how many is too many.

[2017-04-27 18:56] clarkenciel commented on #15
okay so the server will return a 422 if you submit a post that is too long and the body will say:
`{"error":"Validation failed: Text character limit of 512 exceeded"}`. So going with 500 will be fine if we assume that instances don't set limits to be lower. One thing we could think about is using the .social defaults and, on encountering an error like this (instances like oulipo.social or dolphin.

[2017-04-27 19:22] jdenen commented on #15
Yeah, not our problem. There's no way to sanely support the outlandish/hilarious rules each instance could implement. Best to just support the vanilla Mastodon experience while not blocking the ability for other experiences to use mastodon.el.

[2017-04-27 20:05] #57 closed, assigned to jdenen

[2017-04-27 20:05] #58 closed, assigned to jdenen

[2017-04-27 20:05] #70 closed, assigned to jdenen

[2017-04-28 00:30] clarkenciel commented on #15
I'm working on this and i think i'm going to make it a customizable variable. We'll default to 500, but users can update it easily if they want to reflect their instance.

[2017-04-28 03:26] clarkenciel commented on #15
@jdenen @alexjgriffith okay since this is being referenced elsewhere, here's my suggestion for how this looks:

[code]

update that counter next to the text as it's written. change the face of the counter to `'warning` if the current-count exceeds the `max-count`

[2017-04-28 03:28] jdenen commented on #15
The counter is going to move as the text is written? Because that sounds awesome.

[2017-04-28 03:31] jdenen commented on #15
What I mean by move, is the actual location in the buffer. So

`toot text [9 / 500]` becomes `toot text continued [18/ 500]` becomes:

[code]

?

[2017-04-28 03:31] clarkenciel commented on #15
exactly the idea @jdenen !

[2017-04-28 03:31] jdenen commented on #15
Yeah I like that.

[2017-04-28 04:06] alexjgriffith commented on #15
Big fan of the inline counter! I now i get the impact on #14.

 I was wondering how we were going to make it consistent in the buffer mode line. I think this approach is much better!

The portion I was thinking of making into a variable would be the banner i.e.

[code]
I think it will be useful the first few toots you send but after that It would be nice to swap it out. Making this is variable is

[2017-04-28 14:53] alexjgriffith opened #99 "Sending toot closes second window"
Just a small UX suggestion

If I have two windows open and I call `mastodon-toot` it opens in the non active window. When I send the toot with `mastodon-toot--send` it closes the buffer and the second window.

When sending a toot with one window open to begin with this is fine. However when two windows are open before starting the new toot i would prefer it to leave both windows open and return fo

[2017-04-28 18:40] clarkenciel commented on #99
I wonder if we should really open the compose-toot buffer in a sort "trough" buffer at the bottom of the window a la helm?

[2017-04-28 18:41] clarkenciel opened #100 "draft toots"
we should add functionality to save (autosave?) toots as drafts. upon opening a new toot-compose buffer, we could offer the choice to resume composing a previously saved toot.

[2017-04-28 19:00] alexjgriffith commented on #99
That would be cool! Though i think it impacts your ability to call other functions. I think that is why i switched from helm to ivy. But that was years ago.

[2017-04-29 00:03] jdenen commented on #87
Included in v0.6.1

[2017-04-29 00:03] #87 closed, assigned to nobody

[2017-04-29 00:05] jdenen commented on #14
Included in v0.6.1

[2017-04-29 00:05] #14 closed, assigned to nobody

[2017-04-29 03:13] alexjgriffith opened #102 "Fix line wrap issues in timeline"
Its a small thing, but for readability it would be nice if the toot fold width was adjustable or all regions that are not separated by two new lines were placed on one line and with visual-line-mode being an option to make it more ascetic.

[2017-04-29 09:45] alexjgriffith commented on #83
I have folding and unfolding content working. Going forward however, I think we should refactor how the toots are rendered.

[2017-04-29 14:18] saper opened #103 "Search failed: "^|=+=|$" trying to (mastodon-toot--send)"
This is mastodon-20170428.1657 from melpa on a pretty fresh emacs 25 with evil mode and emojify installed (nothing else).

When trying to reply to https://mastodon.xyz/users/ztbrown/updates/134897 (boosten by @jdenen to my home timeline) I write this in the window

[code]

After this `C-c c-c` or running `mastodon-toot--send` fails with

[code]

in the minibuffer

Important note: There are no docs

[2017-04-29 15:01] saper commented on #103
It seems that we are using `caadr`, `remove-if-not` and `string-join` which are not elisp

[2017-04-29 16:28] jdenen commented on #103
Fixed by #103, which was rebased and pushed straight to develop.

[2017-04-29 16:28] #103 closed, assigned to jdenen

[2017-04-29 17:46] jdenen commented on #71
Removed checkdoc requirement because I can only get it to throw warnings which would not cause Travis to fail a build.

[2017-04-29 22:31] jdenen commented on #74
Merged to master.

[2017-04-29 22:31] #74 closed, assigned to nobody

[2017-04-29 23:56] saper opened #108 "POST request loops on unexpected response"
When an incorrect password is given we are stuck forever:

[code]

it seems that something is wrong either with `url-retrieve-synchronously` or maybe `url-retrieve`  does not call the former back correctly.

Maybe related to #68 and #11

[2017-04-30 00:18] alexjgriffith opened #109 "Nested Replies don't add the appropriate handles"
When you reply to a some one who has replied it only adds their user handle, not the handles of the full chain.

[2017-05-01 17:37] hdurer opened #110 "Display all media attachments of a toot"
Currently `mastodon-tl--media` adds only the first (if any) media preview to the buffer.

[2017-05-02 10:01] bortzmeyer commented on #100
A related issue: when you compose a toot, and want to post it, and some network problem prevents posting, the toot is completely lost :-( Bad when you spent several minutes researching, composing it.

[2017-05-05 17:33] alexjgriffith commented on #110
Closed by #111

[2017-05-05 17:33] #110 closed, assigned to nobody

[2017-05-05 17:34] alexjgriffith commented on #102
Closed via #114

[2017-05-05 17:34] #102 closed, assigned to nobody

[2017-05-05 17:57] #71 closed, assigned to jdenen

[2017-05-06 17:28] alexjgriffith opened #120 "Async HTTP"
It would by nice to load statuses and images asynchronously, especially if we are to include user images.

[2017-05-08 21:56] hdurer commented on #84
I am not convinced that having macros that magically define new functions is more readable.
What is wrong with helper functions and very thin actual function?  Sure, there is a bit of repetition but user can easily find the source of a function's definition and see the actual implementation.

[2017-05-09 14:20] jdenen commented on #84
I'm inclined to agree with you. As I tinker locally, the macro solution is becoming increasingly difficult to follow in my own head. I can only image what it would be like for someone who is not writing it.

[2017-05-11 21:59] alexjgriffith commented on #84
Taking a look at `mastodon-tl--updated-json`, `mastodon-tl--update` and `mastodon-tl--timeline-name` I can see a simple solution to the generalization problem.

We are already using the `buffer-name` to identify which timeline we are targeting with `-update` and `-more`. We can either change the `buffer` name to identify what type of endpoint we are targeting (\*mastodon-tl-home\* \*mastodon-notif

[2017-05-13 13:07] alexjgriffith opened #124 "Customizable Faces"
Currently the faces we use are hard coded into the toot rendering functions. Could we replace them with customizable faces?

[2017-05-13 16:25] #124 closed, assigned to nobody

[2017-05-13 16:25] jdenen commented on #124
Closed with #125

[2017-05-15 13:34] jdenen opened #129 "Add a CHANGELOG"
I don't want to maintain a CHANGELOG pre-1.0.0 release, so wait until then.

[2017-05-15 13:38] #76 closed, assigned to jdenen

[2017-05-15 15:14] jdenen opened #131 "Display not respecting single newlines"
A single new line is being ignored on toot display.

Expectation:
<img width="340" alt="screen shot 2017-05-15 at 11 10 45 am" src="https://cloud.githubusercontent.com/assets/4671695/26064564/6076d360-395f-11e7-9b44-4be8b39f1959.png">

Actual:
<img width="568" alt="screen shot 2017-05-15 at 11 08 18 am" src="https://cloud.githubusercontent.com/assets/4671695/26064570/65b0651c-395f-11e7-9293-ab3226

[2017-05-15 16:43] jdenen commented on #131
Correction, it's commit `d154f9f`. Specifically, this line in the `mastodon-tl--toot` function:

[code]

[2017-05-15 18:15] ksonney commented on #68
This appears to be back with emails 26.0.50.

[2017-05-15 19:56] #131 closed, assigned to jdenen

[2017-05-16 04:40] alexjgriffith opened #133 "Extra newline before byline"
There is an extra newline inserted before the byline. The regex in msatodon-tl--toot should be replaced with a function that strips the last two characters of the content.

[2017-05-16 16:44] jdenen commented on #133
Fixed by #134

[2017-05-16 16:44] #133 closed, assigned to alexjgriffith

[2017-05-16 18:50] ksonney commented on #68
OK, I did some testing using the current mastodon.el and emacs 26. This seems to occur only when there is an error from mastodon, which comes as HTML and not JSON data. There may need to be more robust error handling for things like password failures, 500 errors, and the like.

[2017-05-18 17:31] #79 closed, assigned to alexjgriffith

[2017-06-02 18:08] andrewbanchich opened #137 "windows "cannot connect to mastodon.social:443""
is there a way to fix this on windows?

[2017-06-04 08:52] hdurer commented on #137
I don't have Windows myself but one of the developers uses it under Windows so I'm fairly confident that this can work.
It's there any more information that Emacs gives you to understand what exactly the issue might be?

[2017-06-04 19:38] hdurer opened #138 "Use correct buffer modes and maybe add run hooks for customisation"
User `Seylerius` on Matrix reported:

[2017-06-04 19:52] sableseyler commented on #138
Interesting. I think it was an issue of not loading correctly. Now that I've restarted emacs, rather than directly evaluating the `use-package` block, it's working properly. Weirdness.

[2017-06-04 20:11] hdurer commented on #138
Besides: you should also have `mastodon-mode-hook` and `mastodon-toot-mode-hook` where you can add customisations.

[2017-06-04 20:13] hdurer commented on #138
Possibly related: I just had the case where the local timeline did not correctly show in mastodon mode, presumably because of some error being thrown during page setup - I saw an "bad url" error while it loaded.

After a short while this issue sorted itself out, presumably because the toot with the offending avatar was no longer in the initial list of toots.

[2017-06-05 17:09] jfmcbrayer commented on #137
Do you have either gnutls or openssl installed on Windows? Because emacs will need one of those to make an https connection to your instance.

[2017-06-16 19:08] hdurer commented on #83
I also have some code that works with my tabbing navigation logic if have.

[2017-06-21 21:11] andrewbanchich commented on #137
Not sure. I will ask IT about it. Thanks!

[2017-06-21 21:11] #137 closed, assigned to nobody

[2017-07-05 09:29] DriXse opened #141 "End of file while parsing JSON"
Hi,

I use M$ Windows with [EmacsW64](https://github.com/zklhp/emacs-w64) with gnutls.

I try with other instance, but same error

[code]

Thanks.

[2017-09-17 19:43] novoid opened #142 "How about some nice screenshots?"
People love screenshots to see whether or not the visualization of the feeds within Emacs is something they want or not.

[2017-11-17 11:06] ghost commented on #141
I have the same when using mastodon behind a proxy. Any hints on how to debug?

[2017-12-27 20:04] bremner opened #144 "crash in plstore-put on first run"
This is with 0.7.0 from melpa-stable (there's no tag for 0.7.1)
Duplicated in emacs -q, with default setting of **mastodon-instance-url**
[code]

[2018-01-21 05:27] spiderbit opened #146 "Why not create a general ostatus mode for all microblogging services"
I wished I would have such a client for reddit, but if we have the luck that at least twitter and matadon and some more support a open web standard, why not use that protocol instead of writing a network specific client.

Its like making a yahoo mail client because you don't like google mail, instead of a general mail client, nearly nobody would do that, except the company behind yahoo maybe.

I m

[2018-01-21 12:29] bortzmeyer commented on #146
I don't think a stub client can use Ostatus (or ActivityPub) to talk a a Mastodon server. You have to use the API and all the programs (Mastodon and GNU social, for instance) use a different API.

[2018-01-24 16:34] YandongZhang opened #147 "Unknow host?"
Hello,

After installing, I cannot connect to the host. The error message is :
Unknown host "mastodon.social" .

Can anybody help?

3x

[2018-01-25 09:10] hdurer commented on #147
To me this sounds like your computer cannot resolve that name to an ip address.

 - Were you connected to the internet when this happened?
 - Can you visit https://mastodon.social/ in a browser on your computer when that happens?
 - Can you with your Emacs? (For emacs try `M-x eww` to use Emacs's browser.)

[2018-02-18 09:37] fairlygood opened #148 "Wrong type argument: symbolp"
Hi,

Installed via MELPA. Instance url is set in emacs config. I am not asked for a user name or password when executing M-X mastodon - instead I receive the following error:

Wrong type argument: symbolp (and an ID number that increments by 1 each time)

In Messages: plstore-put: Wrong type argument: symbolp

Emacs v25.2.2 on Ubuntu 17.10

Is there anything that I can do to help debug?

[2018-02-23 13:32] falematte opened #149 "Stuck at login"
I am not able to connect to https://framapiaf.org/web/getting-started . Everything in emacs is stuck with the message "Contacting host: framapiaf.org:443"

[2018-02-24 19:14] alexjgriffith opened #150 "wrong-type-argument numberp on loading more toots"
## Description
In both the master and develop branches there is an error when more toots are requested in a time-line. When the requested is made emacs raises an error stating that the id is a wrong type.

## Suggestion
Requires a fix in `mastodon-tl--more-json` and `mastodon-tl--updated-json`. Check if the id is a number, if so convert, if not leave as is.

## Debugger
[code]

[2018-02-25 15:52] hdurer commented on #149
Oh dear.  We've had some other report in the past with similar symptoms for the `toot.love` server.
We never got to the bottom of that.

IIRC we tracked it down to something low-level in Emacs, i.e. not specific to mastodon.el, namely something simple as
[code]
was hanging.

Is that also true on your system for framapiaf.org?

Neither of these two hosts make this hang for me on my system...

[2018-02-26 04:53] alexjgriffith opened #152 "toggle async media loading"
## Issue
With async toot loading and http streams I am running into issues when media is loaded asynchronously.

## Suggestion
Currently `mastodon-tl--show-avatars-p` is automatically toggled based on whether or not the client has `imagemagick`.  For debugging purposes, add a similar toggle `mastodon-tl--display-media-p` that:
1. prevents media stubs from being put into toots
2. prevents the async

[2018-02-26 05:00] alexjgriffith commented on #148
If the error is raised with `plstore-put` receiving a `symbolp` then `mastodon-client--fetch` is probably not returning a string. The number that increments probably represents the input the the `*Message*` buffer being repeated.

If you can replicate the issue and have time could there are a few things you could do to help

1. execute `(setq debug-on-error t)` in `*scratch*` or `M-:` then try to

[2018-02-27 16:08] falematte commented on #149
Thank you for your answer. Could you please explain me how to troubleshoot properly? I have no idea on how to answer to your question...

[2018-02-27 23:02] fairlygood commented on #148
Hi. This seems to have resolved itself, but I'll be sure to head back here and follow your instructions if it reoccurs.

[2018-02-27 23:02] #148 closed, assigned to nobody

[2018-02-28 16:20] alexjgriffith commented on #149
I get the same issue when trying to log into  `https://framapiaf.org`. The http response for me indicates that that mastodon.el is not a valid client and the auth request is rejected.

@falematte do you mind restarting emacs running `M-x mastodon` and copying the contents of the ` *http<your-server-name>*` buffer? Note that there is a space before the `*`.

[2018-02-28 17:35] alexjgriffith commented on #149
[code]

[2018-02-28 18:45] hdurer commented on #149
`https://framapiaf.org//oauth/token authentication` ...  those two consecutive slashes look like a potential issue...

[2018-02-28 20:01] hdurer commented on #149
Never mind...  I get the same response (but only single slash) when I try it after an `(setq mastodon-instance-url "https://framapiaf.org")`.

However, for me that seemed to be that my system had stale data from a previous connection to a different server.
We are not very good with switching between servers.  State is kept in `mastodon-client--token-file` which is specific the the server but we ne

[2018-02-28 20:35] alexjgriffith commented on #149
@hdurer your steps worked I can now see the timelines

Execute the following to set a new server and reset the credentials for your previous server.
[code]

You can then run `M-x mastodon` like normal.

Perhaps this should be worked into a function somewhere?

@falematte do these steps work for you?

[2018-03-01 06:05] alexjgriffith commented on #152
Closed by #153

[2018-03-01 06:05] #152 closed, assigned to alexjgriffith

[2018-03-01 06:06] alexjgriffith commented on #150
Closed by #153

[2018-03-01 06:06] #150 closed, assigned to alexjgriffith

[2018-03-01 11:49] falematte commented on #149
@alexjgriffith adding the lines that you suggested in my init file I got the following error:

``Symbol's value as variable is void: mastodon-client--token-file``

Removing the last two lines the error is gone but everything works. Thank you!

Anyway if I now press "f" or "b" I get "wrong type agument: numberp. "996..."

[2018-03-01 16:17] alexjgriffith commented on #149
Yeah `mastodon-client--token-file` is not initialized until mastodon is run. If you run into the issue again you can execute the entire above block in `*scratch*` (after running `M-x mastodon`).

The numberp error was brought up in issue #150. It has been fixed in the latest develop branch.

## Installing Develop
If you want to use the develop branch you can try something like

Uninstall mastodon

[2018-03-01 17:20] alexjgriffith opened #155 "Replying to toot on another server fails to add the domain to the user handle"
When you reply to a toot that originated on another server it does not add the server address to the handle. You  end up with `@` + `username` rather than `@` +`acct`. `acct` includes the domains, eg `@user` vs `@user@domain` . This is also an issue when you want to include more people in a response.

## EDIT
Each status has a `mentions` which could automatically be pre-populated in a response too

[2018-03-01 17:36] hdurer opened #156 "Closing a mastodon buffer while async images are still loading causes some error message to show up"
It seems that we fail to check if the buffer is still present when trying to process the result of an image fetch.

[2018-03-01 17:39] hdurer commented on #156
Easy to reproduce: Load a timeline with lots of images and quickly press `Q` to kill the buffer.

[2018-03-01 18:15] alexjgriffith commented on #156
Thanks for the fix, I was getting this issue after I modified `mastodon-async.el` to use the rendering in `mastodon-tl.el`.

[2018-03-01 23:59] alexjgriffith commented on #156
Closed by #157

[2018-03-01 23:59] #156 closed, assigned to hdurer

[2018-03-02 00:09] alexjgriffith opened #158 "Should `switch-to-buffer` be `with-current-buffer`?"
## Description
I noticed when streaming with media the active buffer will switch back to the mastodon buffer every time an image is loaded. This makes it impossible to do other tasks while steaming.

## Proposed Solution
I suggest switching out `switch-to-buffer` in `mastodon-media--process-image-response` with `with-current-buffer`

## Edit
Once this edit is made we can begin integrating `mastodo

[2018-03-02 07:15] hdurer commented on #158
Fixed with PR #160

[2018-03-02 07:15] #158 closed, assigned to nobody

[2018-03-02 19:54] alexjgriffith opened #162 "error while favouriting toot"
## Bug
There seams to be an issue with the http call when posting a favourite. Error `mapconcat: Wrong type argument: characterp, concat`.

## Solution
 It seems there is a `,` missing in `mastodon-http--post`
[code]

Should be
[code]

## Backtrace
[code]

[2018-03-02 19:59] alexjgriffith commented on #162
Seams to have been an issue from a previous branch that has already been resolved

[2018-03-02 19:59] #162 closed, assigned to nobody

[2018-03-02 22:04] alexjgriffith commented on #149
Hopefully closed by @hdurer PR b774f9e #154

[2018-03-02 22:04] #149 closed, assigned to nobody

[2018-03-02 22:26] alexjgriffith opened #165 "User Profiles"
Add the ability to browse user profiles. Checkout  [mastodon-future.el/mastodon-profile](https://github.com/alexjgriffith/mastodon-future.el/blob/master/lisp/mastodon-profile.el)

- [x] load their toots, like a timeline
- [x] view their followers
- [x] view those who follow them

[2018-03-02 22:32] alexjgriffith commented on #84
Closed by #122

[2018-03-02 22:32] #84 closed, assigned to alexjgriffith

[2018-03-03 00:50] alexjgriffith commented on #37
Required before full implementation of streams #164

[2018-03-03 00:55] alexjgriffith opened #166 "Tab to next important feature"
@hdurer suggested the implementation of tab navigation (tab nav), whereby each time <tab> is pressed you are advanced to a important feature.

Some possible features of interest would be
1. [x] hastags
2. [x] user handles
3. [x] byline (maybe?)
4. [x] weblinks
5. [x] content warnings

[2018-03-03 00:58] alexjgriffith opened #167 "Open hashtags in mastodon-tl--get-tag-timeline"
Rather than having tags open in the browser have them open using `mastodon-tl--get-tag-timeline`

[2018-03-03 01:01] alexjgriffith commented on #120
This has been completed

[2018-03-03 01:01] #120 closed, assigned to nobody

[2018-03-03 13:57] hdurer commented on #167
I'll have a look at this - it fits in with the work to make tab navigating interesting items in the buffer better.

[2018-03-03 20:06] hdurer commented on #167
I have [a branch `handle-tags-links`](https://github.com/hdurer/mastodon.el/tree/handle-tags-links) ready to do this.

Waiting for a review of the two commits that this depends on before creating a PR.

[2018-03-06 02:24] alexjgriffith commented on #83
One more request, could we bind `c` to a function that attempts to toggle a cw on and off in the current toot?

[2018-03-06 03:09] #155 closed, assigned to alexjgriffith

[2018-03-10 14:53] hdurer commented on #167
This has been merged into `develop` a while ago.

[2018-03-10 14:53] #167 closed, assigned to nobody

[2018-03-10 18:38] alexjgriffith commented on #37
Closed by #178

[2018-03-10 18:38] #37 closed, assigned to nobody

[2018-03-10 19:17] alexjgriffith opened #187 "Rewrite mastodon-http--get-json to return a list including header info"
`mastodon-http--get-json` currently returns a vector, it can be adapted to return a list.

While these changes are being made I recommend adding header info to the output. This will be required for allowing nav in favourites and other timelines that are sorted using an internal key. Something like:

[code]

From [documentation](https://github.com/tootsuite/documentation/blob/master/Using-the-API/A

[2018-03-15 23:05] alexjgriffith commented on #166
Closed by #188

[2018-03-15 23:05] #166 closed, assigned to hdurer

[2018-03-15 23:06] alexjgriffith commented on #83
closed by #184

[2018-03-15 23:06] #83 closed, assigned to hdurer, alexjgriffith

[2018-03-17 06:20] alexjgriffith commented on #165
closed by #186

[2018-03-17 06:20] alexjgriffith commented on #165
mastodon-tl--extract-userid-toot

[2018-03-17 06:20] #165 closed, assigned to alexjgriffith

[2018-03-19 19:51] alexjgriffith opened #192 "Errors with notification timelines"
There are a few bugs I have come across while playing around with the notification buffer.

1. [ ] Does not pass proper thread ID to the toot response buffer
2. [ ] Cannot boost mentions
3. [ ] Won't open a mention thread

[2018-04-06 07:49] YandongZhang commented on #147
Hi hdurer,

Sorry for my later response. Your answer was correct. The issue was caused by the firewall.

Thank you

[2018-04-06 15:00] #147 closed, assigned to nobody

[2018-05-08 13:36] erkin commented on #144
I can also reproduce this with a clean setup. I'm inclined to guess it's caused by [`(plstore-put)`](https://github.com/emacs-mirror/emacs/blob/master/lisp/plstore.el#L359) expecting a string, a plist and an optional plist; but receiving a string, an **alist** and nil instead, according to the error message.

I think it's because when [`(json-read-from-string)`](https://github.com/jdenen/mastodon.

[2018-05-08 13:42] hdurer commented on #144
That's weird.  You even point to our code where we are let-binding `json-object-type` to be `plist` around the call to `json-read-from-string`.

[2018-06-29 03:17] wilhelmy commented on #144
I'm experiencing the same problem and now I'm unsure how to debug it.

[2018-07-25 12:50] baby-gnu commented on #144
I had the same issue.

I deleted the package from the Emacs package manager then reinstalled it and everything is working correctly now:

`GNU Emacs 25.2.2 (x86_64-pc-linux-gnu, GTK+ Version 3.22.30) of 2018-05-07, modified by Debian`

[2018-07-28 12:23] erkin commented on #144
I can confirm that the latest update on MELPA fixes this issue for me.

[2018-07-29 19:15] jb55 commented on #144
I'm still getting this on a fresh install

[code]

[2018-08-06 15:26] TeMPOraL opened #199 "n and p should move between next/previous toots in home view"
It's customary in Emacs for read-only modes to use n/p keys as logical navigation. Everything from dired, through org mode agendas, magit, to Twitter modes work like this. I think for consistency's sake this would be a good default for Mastodon too :).

[2018-08-09 00:53] christoofar opened #200 "Deleting mastodon account caused mastodon.el to hang hard"
I did a trial of a mastodon server, wound up really not liking it.

While leaving the local timeline open I went over in a browser to kill my account on the server.

This caused mastodon-mode to lock up hard.  C-g freed emacs up, but then going into M-x list-processes didn't work.  I suspect this will happen on emacs26 as well.

I'm running git HEAD of emacs (emacs27, rebuilt 8 days ago from this

[2018-08-09 02:09] jdenen commented on #200
Thanks for the heads up.

Yeah, I can't imagine this will be a high priority thing to fix, but I'm glad you reported it.

[2018-08-10 02:07] jdenen commented on #199
So I originally thought about this when I made that navigation choice. The use of `j/k` to move up and down by toot was chosen for two reasons:

1. I'm a Spacemacs user and `j/k` is natural to me. I would be lying if that didn't play a part.
2. You still may want to move line by line. I would assume you'd use `C-n/C-p` to do that. It seems weird to me to have both `n/p` and `C-n/C-p` as navigation

[2018-08-10 02:12] jdenen commented on #146
I started mastodon.el for using Mastodon specifically, using its API documentation as reference. It may or may not work elsewhere, but supporting other APIs is not in the scope of this project.

[2018-08-10 02:12] #146 closed, assigned to nobody

[2018-08-10 02:17] jdenen commented on #144
I just had to replace a laptop, so I've recently re-installed Emacs (26.1) and mastodon.el. I didn't reproduce this issue.

Did you by chance have a previously created `$EMACS_HOME/mastdon.plstore` file? A fresh package install with an old plstore could be an issue. But I'm grasping a bit.

[2018-08-10 02:38] jdenen commented on #138
It looks like @seylerius fixed his initial issue. I'm going to close this for now.

[2018-08-10 02:38] #138 closed, assigned to nobody

[2018-08-10 04:00] TeMPOraL commented on #199
Thanks for mentioning the rationale!

Not sure how `evil` handles it, but in vanilla Emacs, `n/p` in read-only mode seems really common to have *a* meaning, sometimes a special one. Another example I noticed recently - and definitely official one - `Custom` mode (i.e. the one from `M-x customize-*`). There, `n/p` are bound to `widget-forward`/`widget-backward` respectively.

This issue is a bit of

[2018-08-10 05:26] jb55 commented on #144
Hmmm I somehow got the error to go away while I was debugging this. For some reason `json-object-type` was not dynamically bound to `'plist` during the json-read calls. very mysterious...

It started working when I `debug-on-entry`'d the json-read call, and then `e` + `(setq json-object-type 'plist)`. After that it started working, even after restarting and deleting the plstore file. SPOOKY.

Now

[2018-08-10 13:12] hdurer commented on #199
The default keybindings are indeed not intuitive/customary.  +1 to improving that; they cost me a few brain cycles each time I try to remember how to do things.

[2018-08-10 21:32] jdenen commented on #40
Should make #199 enhancements as part of this.

[2018-08-12 14:07] wilhelmy commented on #144
Somehow it works for me too, now.

[2018-08-21 17:52] kaushalmodi commented on #199
Folks used to `n`/`p` for navigation might prefer these bindings for `mastodon-mode-map`: https://github.com/kaushalmodi/.emacs.d/blob/master/setup-files/setup-mastodon.el

(Ignore the bindings to `modi/*` functions; those are defined in my config.)

I was also troubled that `g` was undefined.

[2018-08-21 17:56] kaushalmodi opened #205 "Auto-complete Mastodon handles"
Hello,

Can `mastodon.el` cache all the users a user follows?

Then it should be quick to enter the `@` mentions when typing toots.

Example `@johnson` should auto-complete to `@johnson@mastodon.social`, and so on.

I don't yet know the implementation details of this..

- May be that once `mastodon.el` creates a hash table of everyone a user follows, it should be quick to insert those using an Ivy

[2018-08-21 17:57] kaushalmodi commented on #205
OK, I see that this is a duplicate of https://github.com/jdenen/mastodon.el/issues/90.

[2018-08-21 17:57] #205 closed, assigned to nobody

[2018-08-21 17:58] kaushalmodi commented on #90
May be `mastodon.el` can provide a hash-table of all the users I follow. Then using Ivy/Helm, it should be quick to insert those handles.

[2018-08-21 18:05] kaushalmodi opened #206 "Re-factor user var/fn names before 1.0.0 release (replace `--` with `-`)"
Hello,

It is a known convention [see below] in Emacs Lisp to have `--` in function names only if they are internal functions i.e. not to be used/modified/advised by the user.

But I am finding user-facing/interactive functions like `mastodon-tl--get-tag-timeline`, etc. (basically all mastodon.el interactive functions) to have `--` in their names.

Would it be possible to simply replace `--` with

[2018-08-21 18:21] kaushalmodi commented on #206
The same suggestion extends to variables intended for user modification.. the defcustoms.

[2018-08-21 18:30] kaushalmodi opened #207 "[feature/patch] Add a function to copy the URL of toot at point"
It would be nice to copy the URL of the toot at point using an interactive function. I would bind that to `w` in `mastodon-mode-map`.

[2018-08-21 21:00] kaushalmodi commented on #207
I got this working with this code:

[code]

[ref][1]

[1]: https://github.com/kaushalmodi/.emacs.d/blob/ad042e65b8cfe834b605579975e9aeeae6e46dd4/setup-files/setup-mastodon.el#L58-L88

[2018-08-28 09:44] nono-gdv opened #208 "Support Pleroma"
Hi,

When trying to connect to a Pleroma instance, I get the following error message:

`Wrong type argument: listp, "Something went wrong"`

In the server log file:

[code]

[2018-08-28 09:56] bortzmeyer commented on #208
It would be great if mastodon.el support Pleroma. However, https://github.com/jdenen/mastodon.el/issues/146#issuecomment-411954231 may be of interest. #146

[2018-08-28 11:11] hdurer commented on #208
Interesting.  We *do* (try to) send those items in the post request (see `mastodon-client--register`) and in fact Mastodon itself also [considers these required](https://github.com/tootsuite/documentation/blob/master/Using-the-API/API.md#registering-an-application).

[2018-08-31 07:00] codingquark commented on #12
I am completely new to writing elisp for modes, but I am interested in working on this. It would be helpful if I know the following:
1. Is anyone already working on it? If so, I might pay for a day or two (random estimate) to get it developed.
2. If no one else is working, where do I start? I suppose `twittering-mode` would be a good place to start?
3. Would it be better to be able to create app s

[2018-10-04 16:42] novoid commented on #142
Or do a screencast:

Example how I did it: https://github.com/novoid/filetags/

Done using Xubuntu, https://obsproject.com/ + key-mon using the following workflow:

- plug-in external microphone
- start ose
  - one-time setup
    - settings
      - Output > Recording path
      - Output > Recording Format: mp4
      - Audio > Mic/Auxiliary Audio Device: Snowball
      - Hotkeys > Super (Windows) ,

[2018-10-05 15:34] alexjgriffith commented on #91
Implementing this feature requires us to capture the `max_id` and the `since_id` in the response header, i.e. we will need to rework how we handle the response from `url-retrieve-synchronously`.

Perhaps at the same time we can make the call asynchronous?

[From Mastodon API Documentation](https://github.com/tootsuite/documentation/blob/master/Using-the-API/API.md#favourites)

Edit: See #197

[2018-10-08 10:55] rogorido opened #209 "Unable to connect: Wrong type argument: symbolp, (id . "1555")"
Hi,

I'm all the time getting an error like:
Wrong type argument: symbolp, (id . "1555")

when I try to connect after having set the following:
(setq mastodon-instance-url "https://scholar.social")

Any ideas? (last melpa version installed)

[2018-10-08 19:25] alexjgriffith commented on #209
This was an issue with the previous melpa release. 8.0 (20180811.220) should have fixed this. Do you mind looking in your elpa (`~/.emacs.d/elpa/`) file and checking which version of mastodon.el you have installed?

[2018-10-09 06:45] rogorido commented on #209
Thanks for your answer, but I have exactly this version (mastodon-20180811.220)...

[2018-10-10 20:15] alexjgriffith commented on #209
1. Looking a little bit deeper that id looks to be the length of an account id, so the error may be in how we handle the user profiles.

2. I've signed up for scholar.social and logged in but was unable to recreate your error. If you're able to easily recreate this bug, could you turn on debugging via `(setq debug-on-error 't)` and post the resulting stack trace?

[2018-10-10 21:28] alexjgriffith commented on #207
It seams to work fine if i replace `browse-url` with `eww`.

Rather than opening a thread in eww or another browser we have opted to render them as we do timelines. See `(mastodon-tl--thread)`, which is bound to `t`. If you have imagemagick installed it will scale the user thumbnails down to a less obtrusive size.

I think that `mastodon-toot-at-point` should definitely be added to `mastodon-tl`,

[2018-10-10 21:36] alexjgriffith commented on #90
Doing it strictly based on followers and those following could prove complicated, especially since we can connect through several accounts at the same time.  We could design it so whenever a toot/notification/user is rendered any new handles in the event are added to the hash-table.

Another solution would be to make a search request for users when autocomplete is called on a user handle.

This sh

[2018-10-11 05:29] rogorido commented on #209
Thanks again for your comments.

Here is the error I get: http://ix.io/1oTV

[2018-10-12 13:04] hdurer commented on #209
Looking at that error backtrace it looks very much like issue #144:  We read the json response, binding `json-object-type` to `'plist` but somehow the object in the response is still returned as an alist and not a plist which then later makes the `plstore-put` function (rightfully) barf.

I have not heard of any explanation for this behaviour - it is utterly baffling and not helped by the fact tha

[2018-10-12 15:38] rogorido commented on #209
Thanks again for your efforts.
To your questions:
1. (:a 1 :b [10 11 12]) --> result of eval your code
2. GNU Emacs 26.1 (build 1, x86_64-pc-linux-gnu, GTK+ Version 3.22.30) of 2018-07-05
3. archlinux.

[2018-10-12 16:00] hdurer commented on #209
Thanks.  So result 1 shows that this json parsing is working as intended on your Emacs - that result is a plist (the alist would have been `((:a . 1) (:b 10 11 12))`).

You are also not running an old version of Emacs or use an obscure OS (cough Windows cough)...

I honestly have no clue how you run into these issues.  Could there be some old code lying around? (Possibly byte compiled so that it g

[2018-10-12 16:47] alexjgriffith commented on #209
Yes, its definitly an issue with `mastodon-client--fetch`

The following should return the plist you would add to plstore, but for some reason it returned an alist.

[code]

@rogorido if you run the above (after running `(mastodon)` to auto-load the required files) you should get
[code]

If this is not what you get I'd recommend reinstalling mastodon.el and deleting `~/.emacs.d/mastodon.plstore`.

[2018-10-14 11:52] rogorido commented on #209
I have in mastodon.plstore

`;;; public entries -*- mode: plstore -*-
(("mastodon-https://scholar.social" :id "1565" :name "mastodon.el" :website "https://github.com/jdenen/mastodon.el" :redirect_uri "urn:ietf:wg:oauth:2.0:oob" :client_id "XXX" :client_secret "XX"))`

and it is strange: the first time I tried to connect I got actually a question about my username and password, but it did not conne

[2018-11-06 02:54] kaushalmodi commented on #207
`mastodon-toot-at-point` and `mastodon-get-url-of-toot-at-point` are just helper functions which I need in the later 2 interactive (user) functions.

I agree. Then there's not much value to add `mastodon-browse-url-of-toot-at-point` to mastodon.el.

But I find `mastodon-copy-url-of-toot-at-point` (just copying the toot URL) very useful for documentation purpose. When I write notes/attributes, I li

[2018-11-16 14:20] fujii commented on #144
I installed mastodon-20180811.220 from Melpa today, and met this issue.
`(mastodon-client--fetch)` returned alist.
I byte-compiled mastodon-client.el, and reloaded. Then, `(mastodon-client--fetch)` returned plist.
I uploaded disassembled `mastodon-client--fetch` of before and after byte-recompiling, and the diff.
https://gist.github.com/fujii/a88a5b0ed26581a34a6a240450b2c362

[2018-11-16 14:39] fujii commented on #144
This seems a lexical binding issue. I think mastodon-client.el needs `(require 'json)` to tell json-* are special variables.

[2018-11-19 02:53] jdenen commented on #207
@kaushalmodi I agree that `mastodon-copy-url-of-toot-at-point` should be included. Feel free to PR it in if you'd like.

[2018-11-19 02:58] jdenen commented on #206
It's a solid point and something I don't like about the current functions. I initially wrote them like this because the "namespaces" like `mastodon-toot` and `mastodon-tl` have `-` in them. It made `mastodon-tl-do-some-public-thing` confusing IMO.

That said, I would accept a PR that put a `/` between namespaces and public function names: `mastodon-tl/do-some-public-thing`. Private functions shoul

[2018-11-19 03:00] #3 closed, assigned to nobody

[2018-11-19 03:00] #5 closed, assigned to nobody

[2018-11-19 03:01] jdenen commented on #54
`plstore` is a built-in. It doesn't seem necessary to add this section.

[2018-11-19 03:01] #54 closed, assigned to nobody

[2018-11-19 03:01] jdenen commented on #62
Yeah, this isn't going to happen.

[2018-11-19 03:01] #62 closed, assigned to nobody

[2018-11-19 03:02] #129 closed, assigned to nobody

[2018-11-19 03:18] kaushalmodi commented on #207
Thanks. I'm traveling at the moment. So I'll be able to get to this in about 3 weeks.

[2018-11-19 14:46] jdenen commented on #207
No worries. Enjoy your travels.

[2018-11-19 19:44] jdenen commented on #12
@codingquark I missed your comment for quite some time, so I wouldn't be surprised if you moved on. But here are my answers:

1. Not that I'm aware of
2. How `twittering-mode` does it is a great place to start. I'd be lying if I said I didn't start there when making `mastodon.el`.
3. I'm not sure I understand this question.

[2018-11-19 19:46] jdenen commented on #199
If you don't mind, @kaushalmodi, I'll probably steal these bindings for some upcoming changes.

[2018-11-19 21:44] #15 closed, assigned to nobody

[2018-11-19 21:44] jdenen commented on #15
Bare bones implementation is in develop now. There are some improvements that need to be made, but I think we can close this issue.

[2018-11-20 05:40] codingquark commented on #12
I shall start at the earliest!

Excellent.

I was wondering if mastodon supports "App passwords". For example, one can generate a dedicated password in Google which allows users to login without having to go through 2FA. Link: [here](https://support.google.com/accounts/answer/185833?hl=en)

[2018-11-20 13:47] jdenen commented on #12
I don't believe Mastodon supports app passwords (thanks for the link). But you might want to ask in their GitHub. I may have missed it, or it may be an upcoming feature.

[2018-11-20 15:58] hdurer commented on #12
I think app passwords are for legacy apps that don't understand oauth and want just userid/password pairs.  So I don't expect these to become available with a new product like Mastodon.

I see that there is an [oauth2 library](https://elpa.gnu.org/packages/oauth2.html).  Is that relevant and usable?

[2018-11-21 07:43] codingquark commented on #12
App passwords being for legacy apps makes sense.

If that oauth2 library works, it will be amazing. I won't have to do much at all. I have started working out twittering-mode's mechanics and have started reading mastodon's docs for oauth2. Thanks @hdurer for the link!

[2018-11-28 17:09] codingquark commented on #12
I tried the library suggested by @hdurer and it seems to be working.

Well, at least it redirects me to masto's page from where I can copy the code. Which means I will continue using using the library, unless I find big gaps.

I shall try to keep this place updated with the progress I make. Won't post too often, as people will probably be able to see my commits in the fork.

Thanks :)

[2018-12-05 16:39] ieure commented on #209
Any update on this?  I'm seeing the same issue.

[2019-01-25 12:05] codingquark commented on #12
Just an update!

Being the lazy and newb that I am, I haven't yet finished this. But, I am working on it.

Sorry for the inconvenience the delay may be caused ;)

[2019-01-30 03:29] jdenen commented on #12
No inconvenience. You're working on this in your own time. You take as much as you need. We're just happy to have the help.

[2019-02-03 17:17] hdurer commented on #12
Just checking: are you working as "codingquark" or is that a parallel
development?
https://github.com/codingquark/mastodon.el/tree/oauth2_0

On Wed, 30 Jan 2019 at 03:29, Johnson Denen <notifications@github.com>
wrote:

[2019-02-04 04:59] codingquark commented on #12
That's me!

[2019-02-04 12:06] fenix011 opened #211 "Newbie problems ..."
I'm getting some error messages when installing the package via ELPA. The shown messages are :

[code]

Then customize my Mastodon instance as described in the Doc.

Yet i could M-x mastodon-toot ... . Messages buffer says :

[code]

What am i missing ? Shouldn't mastodon.el be prompting me for user and password at first ?

[2019-02-07 06:48] codingquark commented on #12
It seems to me that the implementation is working as expected so far in [repository](https://github.com/codingquark/mastodon.el/tree/oauth2_0).

However, can someone help me with tests? I have looked at `mock`. What I would like to know is what "kind" of tests should be put in? Since OAuth2 is an external library, we need not think about testing its internals. Hence, what should we write so that t

[2019-02-08 14:55] jdenen commented on #211
What version of Emacs are you using?

[2019-02-08 21:22] hdurer commented on #12
Yes, this could be fun.  I have always struggled to make sensible tests and totally failed with the async loading code.

In general I find mocking tests fairly brittle and not very useful but Emacs's version seems especially hard to use.

So, if you could ensure that the library gets called when expected (and possibly not called when not expected?) that should be enough I would have thought.

[2019-02-08 21:34] hdurer commented on #211
Thanks for posting the compilation warnings.  It seems that Emacs there doesn't know that the the json-XXX vars are dynamic vars, which would explain that binding them has no effect, therefore trying to interpret data in a different format than we intend.

Maybe we should just `(require 'json)` at the top of these files?  Or is that going to break some ancient Emacs version?

[2019-02-08 21:38] hdurer commented on #18
Update: user [`@jordigh@mathstodon.xyz`](https://mathstodon.xyz/@JordiGH) has volunteered to have a stab at this.  I pointed them at my half-complete code in https://github.com/hdurer/mastodon.el/tree/post-images-wip.

[2019-02-11 16:38] hdasch commented on #12
I have had success with @codingquark's repository.  I had trouble figuring out the client-id ond client-secret values.  But once I found the "Your Applications" under "Development" on the web UI's settings page, I was able to generate an id and secret.

First time I have been able to login with mastodon.el.  Thanks for the 2FA support.

[2019-02-12 05:01] codingquark commented on #12
@hdasch thanks a lot for trying! Yours has been the first test AFAIK. So far, it was only I toying around with 2FA.

I will update the README to include instructions on how to get client id/secret.

[2019-02-13 08:20] fenix011 commented on #211
`(require 'json)` did the job. Now i succeeded in my  tooting from Emacs. Yay.

[2019-02-13 08:40] fenix011 commented on #211
Just in case this information helps in Mastodon.el improvement : i re-installed it from ELPA, and got this Error message when compiling :

[code]

[2019-02-13 10:14] yisraeldov commented on #199
You might just want to make it conditional, detect for evil mode and then use j/k, but default should be standard emacs bindings.

[2019-02-13 10:18] yisraeldov opened #212 "Use custom emojis"
It would be good to download and add custom emojis from the server.

They have an [api](https://mastodon.technology/api/v1/custom_emojis) for fetching emojis.

Emojify has the variable `emojify-user-emojis` that can be used
for adding custom emojis.

I can probably do this myself, but wanted to open an issue for it.

[2019-02-14 08:22] hdurer commented on #212
When do you need that?
When composing toots or for viewing toots of others?

[2019-02-14 08:24] hdurer commented on #211
`seq.el` is only available since Emacs 25.  How did that but get noticed by the tests which also get run with 24.5?

[2019-02-14 08:49] yisraeldov commented on #212
Honestly, I don't need that but I assumed that you would have implemented
it.

One would need it when reading messages from others, I assume.

Maybe it should be it's own package.

On Thu, Feb 14, 2019 at 10:22 AM H Durer <notifications@github.com> wrote:

[2019-02-14 09:25] hdurer commented on #212
Should be investigated.  I always assumed that the toots to show are already processed (i.e. the emoji is turned into an `img` tag with the link to the emoji representations and the text version only in the `alt` attributed.  But that is mere assuming; I haven't actually seen this (but also not looked for it).

OTOH, I assume it would be needed when composing a toot so the user can include instanc

[2019-02-14 09:28] yisraeldov commented on #212
If you see the descriptions I posted a link to the api for custom emojis...
Maybe it should be developed as a separate package. I could see it  being
useful outside of mastodon.

What about usernames? I know that some usernames use the custom emojis, are
these also converted to img tags?

On Thu, Feb 14, 2019 at 11:25 AM H Durer <notifications@github.com> wrote:

[2019-02-15 19:21] codingquark commented on #12
#213

[2019-02-16 16:29] codingquark commented on #207
Things are already done here @kaushalmodi throw a PR? Or I can create one for you (however that might work out)

[2019-02-16 16:36] codingquark opened #215 "[feature] Render LaTeX"
On instances such as mathstodon.xyz LaTeX is heavy. Would it be feasible to render it nicely in buffers?

[2019-02-16 16:36] kaushalmodi commented on #207
Sorry, I just realize this action item fell to the way side. @codingquark Please feel free to send a PR. I've got busy with few other things lately.

[2019-02-21 09:50] yisraeldov opened #216 "When sending toot over 500 char fails loosing the composed toot."
Like it says.

If you try to compose a toot over 512 char, it will fail, with-out giving the option to edit toot.

It should either give the option to edit, or automatically split

[2019-02-21 09:55] yisraeldov opened #217 "new toots should be in text-mode not fundamental"
When you create a new toot, the mode is fundamental. It should be a text mode so that we get all of our text-mode hooks.

Probably would be best to have a major mode for toots, but, you could just manually call `text-mode` when creating the buffer in `mastodon-toot--compose-buffer`

[2019-02-21 10:41] codingquark opened #218 "Interfering with erc?"
[code]

My init config for mastodon:
[code]

Hooks for erc:
[code]

[2019-02-21 17:16] hdurer commented on #216
Yes, we don't even fetch the configured max toot length (it can vary from server to server).

But it's true that if posting fails we should go back to the toot compose buffer without losing any data.

[2019-02-21 17:42] hdurer commented on #218
Yes, in my branch we have  `(push #'mastodon-toot--update-status-fields after-change-functions)`.
I guess I assumed that `after-change-functions` would be buffer-local.

Urgh.

[2019-02-21 20:16] hdurer commented on #218
I pushed a small change to my branch that should fix this.  Sorry about that.

[2019-02-25 20:21] hdurer opened #219 "Travis fails due to new warning introduced in recent package-lint release"
All Travis checks now fail with
[code]
That check was [added to `package-lint.el` last November](https://github.com/purcell/package-lint/commit/ce28517847f9ea983a62ba28b06f4f0c4437f32d).

[2019-02-26 09:27] JosephKiranBabu commented on #40
I keep pressing `b` to go back a word out of habit and end up boosting toots unintentionally! :zipper_mouth_face:

[2019-03-05 02:42] #219 closed, assigned to jdenen

[2019-03-05 03:22] #199 closed, assigned to jdenen

[2019-03-08 16:24] jdenen commented on #211
In the latest version, I believe this should be fixed. Can you verify?

[2019-03-10 17:25] fariedt commented on #208
This occurs because `url.el` doesn't set the `Content-Type` header for POSTs on its own; see the example on [EmacsWiki](https://www.emacswiki.org/emacs/UrlPackage).  My fix:

[code]

[2019-03-13 14:59] goodevilgenius commented on #68
I'm getting this error when calling `M-x mastodon` with `(setq mastodon-instance-url "https://mastodon.host")`. I'm not even given an opportunity to enter my email and password.

And the instance seems to be running fine. https://mastodon.host is up and working with no problem.

I'm using version 20190305.344 from melpa, on Emacs 26.1

[2019-03-13 15:38] goodevilgenius commented on #68
I tinkered around a bit, and got this from the debugger:

[code]

It looks like, even though my instance url is set to `https://mastodon.host`, it looks like it's actually requesting `http://mastodon.host:443`.

I can reproduce this response externally from my shell:

[code]

[2019-03-23 17:49] lambdadog commented on #208
interestingly even after making this modification i still have the same error.

Not seeing anything in my logs, but that may be due to my loglevel

[2019-03-23 20:25] fariedt commented on #208
Which version of pleroma is it?  I've tested against the `develop` branch (running in production, see [this post]( https://p.node.pk/api/statuses/show/9h4Zj9NVtIBqXFdj0q.json)) and the `v0.9.999` tagged release.

You might want to remove `~/.emacs.d/mastodon.plstore` if it already exists, restart Emacs, and then try again.

[2019-03-28 21:54] mrvdb commented on #218
Perhaps change the issue title to be more generic? It seems this issue is applicable in many situations. I had to patch my mastodon.el install with the fix @hdurer pointed to.

[2019-04-15 10:35] sch1z00 commented on #68
on Emacs 25.2.2 and mastodon-20190305.344 (from Melpa)

[2019-04-19 19:13] lambdadog commented on #208
was able to get it to work now, might have had some leftover bits before that I wasn't paying attention to

Had to modify the function that builds the @mentions string to put on the beginning of replies to make it so that I don't get a double mention for the person I'm replying to, but other than that it's working pretty smoothly. Thinking of tossing together a pull request tonight.

[2019-04-30 17:06] lambdadog opened #224 "hide nsfw tagged images (different from CW)"
currently, usCWed nsfw images display immediately

this is undesirable for a number of reasons

While mastodon doesn't (I believe) have a method to mark images as nsfw without CWing the post on the web ui, many other mastodon-compatible services do, and even on mastodon it's possible through the API using apps like subway tooter

[2019-05-01 22:11] tidux opened #225 "wishlist item: save image"
There should be a keybinding or right-click menu option to save an image from a toot, either to a default ($HOME/Downloads) or popping up a save path minibuffer.

[2019-05-02 06:03] hdurer commented on #225
With the cursor on the desired image, pressing `o` might work (depends on your Emacs version I believe since we just inherit from `shr-image-map` which in turn inherits from `image-map` if present (and that was only introduced a few versions back I think).

This could be documented better I guess, just like so much...

[2019-05-02 17:27] tidux commented on #225
I'm using Spacemacs on Emacs 26 and it just throws a "buffer is read only" error.

[2019-05-02 20:17] hdurer commented on #225
Well, I know exactly zero things about Spacemacs, but I just tried it and you are right.  I completely misremembered how things work.  Images aren't even tab stops and don't have a keymap installed either it seems.

[2019-05-08 18:48] seanlynch commented on #141
I am having exactly the same problem on Linux, so this is not Windows-specific. toggle-debug-on-error doesn't bring up the debugger when it happens for some reason.

I'm on GNU Emacs 26.2 (build 1, x86_64-pc-linux-gnu, GTK+ Version 3.24.8)
 of 2019-04-12 under Arch Linux. Also shows up in remacs.

[2019-05-13 06:14] bortzmeyer opened #226 "[Documentation] Toots are created with t, not n"
The README says  "n Compose a new toot" but it's apparenttly t, not n.

[2019-05-25 12:17] fenix011 opened #227 "message: Wrong type argument: number-or-marker-p, nil"
while
`(require 'json)
(setq mastodon-instance-url "https://another.mastodon.node")
`
in my .emacs file

is shown when C-c C-c tooting. Toot is not sent.

could it be related to #218 ?

[2019-05-26 13:16] fariedt commented on #227
Which version of Emacs is it?  I have a similar problem with 26.2 (built from git), and I haven't had the time to look into the cause.  I do know that it has to do with the character count and header; hitting C-g before C-c C-c works.

[2019-05-27 06:16] fenix011 commented on #227
I'm using Emacs 24.5.1 version. Hope it helps.

On 5/26/19 3:16 PM, faried nawaz wrote:

--
jordila_

...

(-(-_(-_-)_-)-)

[2019-05-29 21:01] fenix011 commented on #227
Just to confirm that as @faried points out, hitting C-g before C-c C-c works .

[2019-06-08 06:39] fenix011 commented on #227
Uh... now, when hitting C-g before C-c C-c, i'm getting

[code]

error message and toot is never sent :-(

---
that was in the past, the trick ( C-g ) is working now

Thanks beforehand for reading this!

:-)

[2019-07-28 19:04] ghost commented on #141
I'm also suffering from this bug. Any ideas? Unlike @ghost I am not behind a proxy. I am on GNU/Linux using Emacs 26.2

[2019-08-28 22:19] TheSandBoxMKG opened #228 "JSON readtable error:60"
It was working fine before with the instance I was using but one iday it stopped working, and returned this error after entering the credentials:
![Captura de pantalla_2019-08-28_19-09-38](https://user-images.githubusercontent.com/27746283/63896230-da521c80-c9c7-11e9-92cc-a07f5e11fff0.png)
This is the only configuration I had on:
`(setq mastodon-instance-url "https://meow.social/")`
And tried alre

[2020-05-15 11:52] mrvdb commented on #215
Just stumbled upon this issue.

Perhaps https://github.com/TobiasZawada/texfrag/ could be helpful here.

[2020-08-16 09:22] humanitiesNerd commented on #228
I'm having tha same issue

[2020-08-28 12:08] AdamWysokinski commented on #228
Same problem here

[2020-08-30 06:15] ghost opened #232 "Support auto-refresh"
There should be a setting to have the timeline auto-update every n seconds (customizable via mastodon tl) so that the user doesn't have to constantly hit `u`.

[2020-08-31 18:29] jdenen opened #233 "Call for contributors"
There's been a pretty decent surge in activity around the project lately, and I'm (quite obviously) unable to keep up. If you're interested in contributing/being a part of a team to maintain this project going forward, let's talk about it in this issue.

[2020-09-19 14:05] ghost opened #234 "New toot"
Hi, after sending a new toot, I am getting:

"Wrong type argument: number-or-marker-p, nil" error.

version 20190305.344 from MELPA

Should I use the git version instead?

[2020-11-09 09:20] sabexx commented on #233
Hey @jdenen, if you want help I'm happy to take a look. I'm investigating the "new toot" (#234) issue at the moment.

[2020-11-16 13:23] arenzana commented on #228
Same.

[2020-11-17 02:55] slondr commented on #228
Yep, having the same problem (fresh install, instance is [koyu.space](https://koyu.space)).

[2020-11-26 00:36] justinabrahms commented on #228
[code]

[2020-11-26 07:35] humanitiesNerd commented on #228
Il giorno gio 26 nov 2020 alle ore 01:36 Justin Abrahms <
notifications@github.com> ha scritto:

thank you

This is a substantial advancement

I can't use the Emacs debugger myself

[2020-12-09 05:50] justinabrahms commented on #228
Here's the debug log from the http library. Apparently you can customize the url-debug property to get logs like this. They log to the `*URL-DEBUG*` buffer. It appears as though we're somehow incorrectly sending a GET request that should be a POST request.

[code]

[2020-12-09 06:05] justinabrahms commented on #228
Okay, I now have this working. Aside from slowly stepping through the code, I made this config change which altered how the code path ran:

[code]

Maybe that will help folks?

[2020-12-09 06:06] justinabrahms commented on #234
[code]

^^ That's the full trace that I'm seeing.

[2020-12-09 06:08] justinabrahms opened #235 "include people who boost when replying"
Someone I know boosted a toot. When I respond, I want to include them in the @'s.

[2020-12-09 06:10] justinabrahms opened #236 "Copy the toot you're replying to into the edit buffer"
Okay, new user here. I replied to my first toot, but accidentally selected the wrong one. It would be helpful if the text of the toot you're replying to was in the new toot window as a comment.

[2021-01-12 23:15] ghost opened #237 "Cannot log into pleroma: (wrong-type-argument listp (error . "Invalid credentials."))"
Hello all (:

I previously had mastodon.el working on EMACS, and then something happened, and I cannot log in anymore.

I get this error mentioned in the attached backtrace exclusively and repeatedly.

Here is the EMACS elisp Backtrace:

`Debugger entered--Lisp error: (wrong-type-argument listp (error . "Invalid credentials."))`

`assoc(reblog (error . "Invalid credentials."))`

`mastodon-tl--fiel

[2021-01-21 21:13] ghost commented on #237
Hello again!

I solved this issue. I deleted everything associated with my install of mastodon.el, and started again from fresh, cloning from the repository, and modifying mastodon-http.el in accordance with the advice given in this issue:

https://github.com/jdenen/mastodon.el/issues/208

(: works perfectly!

[2021-01-21 21:13] #237 closed, assigned to nobody

[2021-03-01 16:04] ghost commented on #228
same error

this is an 404 html page. source of this error:

visited in web browser, this page does not exist.

[2021-03-01 16:14] ghost commented on #228
fixed with

[2021-05-12 11:01] martianhi commented on #233
hi, i recently started using and hacking on mastodon.el. my elisp skills aren't good enough to help maintain your library, but i have added a number of basic functions to my fork:

- jump to my profile
- follow/unfollow, mute/unmute, block/unblock users
- delete existing toots
- a (very basic) search function

i also incorporated the spoiler text into the content warning text, and made the visual

[2021-05-16 13:45] martianhi commented on #233
hi again, i have since added a few extra things to my fork:

- display of relationship (follows you, followed by you) in profile view
- display pinned toots first
- copy URL of toot at point
- display "fields" (ie profile metadata) in profile view.
- mention booster in replies by default.

my changes are at https://github.com/mooseyboots/mastodon.el.

as mentioned, i'm a noob, so its likely a bit

[2021-05-17 19:40] apoorv569 commented on #228
I installed `mastodon.el` today for the first time, and I'm also having this issue. Unfortunately adding `(setq mastodon-auth-source-file "~/.authinfo")` did not fix it. It asks for my email and password then throws the error `JSON readtable error:60`. My instance is mastodon.social

[2021-05-18 14:13] martianhi commented on #228
strange, i haven't encountered this on my install, on ```emacs -Q```, or on a second machine.

```.authinfo.gpg``` is notoriously picky. the magic dev explained that having comments, newlines or incorrectly formatted urls can break it.

[2021-05-19 14:34] martianhi commented on #235
automatic mention of the booster should be working in a basic way in my repo now.

i don't think it works for full thread mentions (ie mention everyone above you in a thread by default), but it should work for default mention of booster + poster when replying to a boost.

[2021-08-10 16:40] martianhi commented on #228
fwiw, this commit by ieure seems to fix initial auth token issues:
https://github.com/ieure/mastodon.el/commit/50062c543646df96aac5bd1e824a283d230708b2

[it's also incorporated into my fork: https://github.com/mooseyboots/mastodon.el]

[2021-09-02 17:26] duckwork opened #240 "Command to open URLs of toots?"
Sometimes, say in IRC, someone will post a link to a toot or series of toots.  Is it possible to have a command in this package to hook into `browse-url` or similar, so we can open toots in Emacs from a URL?

[2021-09-19 22:32] ghost commented on #228
I'm having this issue as well, i tried the (setq mastodon-auth-source-filie "~/.authinfo) and it didn't work for me

[2021-09-19 22:42] ghost commented on #228
Well i just deleted the package and reinstalled the package and it seems to be working now... kinda odd but maybe this will work for someone else as well

[2021-09-23 16:44] mooseyboots commented on #2
for the moment i have changed the sent function to copy toot content to kill ring, and also to only kill the buffer after the post request comes back.

this prevents the possibility of the post failing and the toot buffer being killed, meaning you just loose your draft.

downside is you have to always(?) hit `C-c C-c` twice to post.

i tried adding `top-level` directly in the function, awful hack,

[2021-09-23 16:45] mooseyboots commented on #3
happens when you load the same profile or timeline twice, without, i think, doing anything else.

[2021-10-03 11:35] mooseyboots commented on #2
https://github.com/hdurer/mastodon.el/commit/919984e2fe5cb86dc78850ca7200016c5563986e#diff-99f9df7b726d831976eb87646f4f89cc019dc122a2d4ddcd1f838f1dbfb340a2

[2021-10-15 08:39] martianhi commented on #227
https://github.com/jdenen/mastodon.el/pull/241 fixes this. the code was written ages ago but never merged for some reason.

[2021-10-15 08:41] martianhi commented on #234
duplicate of #227. https://github.com/jdenen/mastodon.el/pull/241 fixes it. if you dont want to wait for the pr to be merged you could just add it yourself.

[2021-12-21 09:13] martianhi commented on #227
merged #241

[2021-12-21 09:19] #234 closed, assigned to nobody

[2021-12-21 09:19] #227 closed, assigned to nobody

[2021-12-21 09:19] #218 closed, assigned to nobody

[2021-12-21 09:24] martianhi commented on #228
ieure@50062c5 should fix this. re-open if you still have this issue.

[2021-12-21 09:24] #228 closed, assigned to nobody

[2021-12-21 09:27] martianhi commented on #68
ieure@50062c5 fixes this, i think, with error handling

[2021-12-21 09:28] #68 closed, assigned to nobody

[2021-12-21 09:38] #12 closed, assigned to nobody

[2021-12-21 09:40] #91 closed, assigned to nobody

[2021-12-21 09:40] #21 closed, assigned to nobody

[2021-12-21 09:43] #108 closed, assigned to nobody

[2021-12-21 10:01] mooseyboots opened #242 "update dec 2021"
jdenen recently transferred this repo to me, as i (and recently @hdurer) have been hacking away on a fork for a few months over at https://git.blast.noho.st/mouse/mastodon.el.

PRs #241 and #231 fix the two serious bugs with auth and sending toots.

i added a lot of low-hanging easy features, with fairly amateur coding skills. though we're slowly improving on quality.

for now, i'll make https://g

[2021-12-21 10:05] martianhi commented on #233
see #242

[2021-12-21 10:05] #233 closed, assigned to nobody

[2021-12-21 10:07] #207 closed, assigned to nobody

[2021-12-21 10:07] #224 closed, assigned to nobody

[2021-12-21 10:07] #226 closed, assigned to nobody

[2021-12-21 10:07] #235 closed, assigned to nobody

[2021-12-21 10:08] #212 closed, assigned to nobody

[2021-12-21 10:09] #211 closed, assigned to nobody

[2021-12-21 10:14] #232 closed, assigned to nobody

[2021-12-21 10:15] #216 closed, assigned to nobody

[2021-12-21 10:15] #225 closed, assigned to nobody

[2021-12-21 18:33] martianhi commented on #208
if anyone passing by confirms that this works for them, let me know and i can merge it.

i tried with one instance and it didn't work, perhaps because not all pleroma servers actually implmement the mastodon API, if i recall rightly.

[2021-12-22 10:39] mooseyboots opened #243 "migrate to codeberg"
if there are no objections, i plan to migrate mastodon.el to codeberg.org.

i did a test migration and it worked fine.

one thing to consider is that magit's `forge` package is currently implementing full support for gitea forges, so it could be a good idea to wait for that.

[2021-12-22 11:08] hdurer commented on #243
Will that still have the integration with Travis?

And Melpa will cope with the move?

[2021-12-22 11:34] martianhi commented on #243
@hdurer no travis integration, but it has also been broken a long time and i don't know how to fix it, as i never (successfully) used it.

re: melpa, it's easy to update the recipe to a new location.

i just had a look at codeberg and its easy to set up a mirror, so that's also an easy option.

i don't want to make the repo less available for contributions/issues, but i am in favour of deserting s

[2021-12-22 20:40] faried commented on #208
@mooseyboots I can confirm that it's still needed.  I'm on Emacs 27.2, and the latest commit (d4c0d2a2a3013136f5b1fea40ae1e7022f461dd9).

[2021-12-23 09:55] martianhi commented on #208
@faried thx, merged.

[2021-12-23 09:56] #208 closed, assigned to nobody

[2021-12-23 10:38] #78 closed, assigned to nobody

[2021-12-23 10:43] #20 closed, assigned to nobody

[2021-12-23 10:44] #18 closed, assigned to nobody

[2021-12-23 15:22] abhiseck commented on #243
I think this is a great opportunity to move this project to Codeberg as development/activity is still low. Once the development picks up it may become harder to move.

[2021-12-23 15:32] abhiseck commented on #242
Hello! As we talked on Mastodon, I have been trying to improve login feature (Making login possible with 2FA etc.). Do you think you can add me to your gitea instance?

[2021-12-23 15:42] mooseyboots opened #244 "contributing"
for the moment, until the fork is merged, the canonical repo is https://git.blast.noho.st/mouse/mastodon.el.

if you want to work on a new feature, pull from the develop branch there, then work on yr feature in a feature branch.

don't work off this repo as it will make merging a pain later on.

i also won't merge anything until the fork is merged. so draft and play and test away, but be patient a

[2021-12-23 19:28] mooseyboots opened #246 "update readme"

[2021-12-24 09:52] martianhi commented on #217
good idea, thanks. it's done.

[2021-12-24 09:52] #217 closed, assigned to nobody

[2021-12-24 09:56] martianhi commented on #192
i copied `mastodon-tl--insert-status` to `mastodon-notifications--insert-status` and we now feed it the id. should have fixed these issues.

[2021-12-24 09:56] #192 closed, assigned to nobody

[2021-12-24 09:57] martianhi commented on #90
is now implemented as company completion. for now it fetches from the server with a prefix query each time with no offline storage. offline storage would be welcome though.

[2021-12-24 09:57] #90 closed, assigned to nobody

[2021-12-24 09:59] martianhi commented on #59
covered by #164 i guess.

[2021-12-24 09:59] #59 closed, assigned to nobody

[2021-12-24 11:56] martianhi commented on #144
feel free to re-open if this appears again.

[2021-12-24 11:56] #144 closed, assigned to nobody

[2021-12-24 12:01] martianhi commented on #141
i think this just happens when the request fails or the server does something flakey. feel free to reopen if you still see this issue.

[2021-12-24 12:01] #141 closed, assigned to nobody

[2021-12-24 12:04] #11 closed, assigned to nobody

[2022-01-10 17:00] trueauracoral opened #247 "Create toots with C-c C-c doesn't work, gives this error: Wront type argument: stringp, nil"
So, I installed mastodon.el for emacs in the quest to use mastodon without JS.

The install process was a bit bumpy but after a list-packages and manual install of mastodon it worked for my emacs. I signed in and it was great. Just I go to make a toot and get this error:
![image](https://user-images.githubusercontent.com/87541524/148806255-e5b1ff6e-d9bd-4dd6-8d84-39c5ae326b2d.png)
I can't screensh

[2022-01-10 17:10] trueauracoral commented on #247
https://git.blast.noho.st//mouse/mastodon.el Sorry, according to list-packages I am using this. But that gitea repo looks exactly like this github repo.

[2022-01-10 18:58] martianhi commented on #247
@trueauracoral it's fine to open issues here.

thanks for trying the package and sorry about the error. if you could enable debugging with `toggle-debug-on-error` then try to toot again, and share the backtrace that it pops up that would be helpful.

also, you mention trying to manually install, and installing from MELPA. if you are unsure of what you did i would probably recommend removing all tr

[2022-01-10 21:47] trueauracoral commented on #247
Okay.

**debug command**
It just prints out this:
[code]

**Emacs version and OS**
I am running emacs 27.1 on windows 10.

I will try reinstalling the mastodon package I guess.

**Nil character**
I have no clue why it doesn't put the maximum amount of characters. On the instance that I use it's 500 word limit.

[2022-01-11 13:25] martianhi commented on #247
@trueauracoral thanks for the backtrace and info.

you might also see if hitting `C-g` works before sending the toot, in which case see #227 and PR #241. (hoping not, it rly should be fixed.)

i don't have any windows 10 to test on unfortunately, but i can take another look at the state of the function concerned.

if you still have trouble, perhaps also let me know how bumpy your set up/install pr

[2022-01-11 16:33] trueauracoral commented on #247
**C-g and then C-c C-c**
I do this and I get the same `Wrong type argument: stringp, nil`

Looking at https://github.com/mooseyboots/mastodon.el/issues/227 it says that they installed the json package? I don't know if I need this package though.

**Windows possibly being the error**
I think that since everything except for making toots/replys works possibly windows isn't the error. Though windows

[2022-01-12 09:47] #247 closed, assigned to nobody

[2022-01-21 08:17] #243 closed, assigned to nobody

[2022-01-21 08:17] #242 closed, assigned to nobody